<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cadastro do Empresa</title>
</head>
<body class="bg-sky-950 h-screen flex items-center justify-center">
<form id="submitForm" class="flex gap-24" th:action="@{/company/create}" method="post" th:object="${company}">
    <div class="space-y-8 bg-zinc-950 p-10 rounded-lg shadow-lg">
        <p class="text-white">Empresa, crie seu cadastro gratuitamente.</p>

        <div class="flex flex-row gap-10">
            <input
                th:field="*{username}"
                type="text"
                name="username"
                class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-96 block focus:outline-none focus:ring-green-600 focus:ring-2"
                placeholder="Digite seu usuário"/>
            <input
                th:field="*{name}"
                type="text"
                name="name"
                class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-96 block focus:outline-none focus:ring-green-600 focus:ring-2"
                placeholder="Digite seu nome"/>
        </div>

        <div class="flex flex-row gap-10">
        <input
            th:field="*{email}"
            type="email"
            name="email"
            class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-96 block focus:outline-none focus:ring-green-600 focus:ring-2"
            placeholder="Digite seu e-mail"/>
        <input
            th:field="*{password}"
            type="password"
            name="password"
            class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-96 block focus:outline-none focus:ring-green-600 focus:ring-2"
            placeholder="Digite sua senha"/>
        </div>

        <div class="flex flex-row gap-10">
        <input
            type="password"
            name="confirmPassword"
            class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-96 block focus:outline-none focus:ring-green-600 focus:ring-2"
            placeholder="Confirme sua senha"/>
        <input
            th:field="*{website}"
            type="text"
            name="website"
            class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-96 block focus:outline-none focus:ring-green-600 focus:ring-2"
            placeholder="Digite seu website"/>
        </div>

        <textarea
            th:field="*{description}"
            name="description"
            class="bg-gray-50 text-gray-900 p-3 text-xd rounded w-full block focus:outline-none focus:ring-green-600 focus:ring-2"
            placeholder="Digite uma breve descrição sobre você"></textarea>

        <p class="text-red-500 text-center" th:if="${error_message}" th:text="${error_message}"></p>
        <p class="text-red-500 text-center hidden" id="passwordError">As senhas não conferem</p>

        <button class="bg-green-600 w-full rounded p-4 text-white hover:bg-green-700">Cadastre-se</button>
        <p class="mt-4 text-white">
            Já tem uma conta?
            <a href="/company/login"
               class="text-center text-green-700 hover:text-green-600">Faça login aqui</a>
        </p>

    </div>

    <div class="text-white max-w-80 text-6xl flex items-center">
        Gestão de Vagas
    </div>
</form>
</body>

<script type="text/javascript">
    document.getElementById('submitForm').addEventListener('submit', function(event) {
        const password = document.querySelector('input[name="password"]').value;
        const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;

        if (password !== confirmPassword) {
            event.preventDefault(); // Impede o envio do formulário
            document.getElementById('passwordError').classList.remove('hidden');
        }
        else {
            document.getElementById('passwordError').classList.add('hidden');
        }
    });
</script>

</html>